h1{
    color: blue;
}

.pitch-container{
    max-width: 425px;
}

.pitch{
    font-size: 2rem;
}

.full-pg{
    height: 100vh;
    background-image: url('/assets/imgs/orange-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px){
    .full-pg{
        height: unset;
        padding-top: 150px;

    }
}

.device-container{
    max-width: 325px;
    margin: 0 auto 0 auto;
    position: relative;
}

.device-mockup{
    padding-bottom: 201.76%;
}

.device{
    background-image: url('/assets/imgs/iphone_6_plus_white.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.banners > img{
    height: 60px;
    width: 203px;
    margin: 0 1rem 0 1rem;
}

.about-main{
    padding-top: 100px;
    background-image: url('/assets/imgs/orange-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}